<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>AccountController</display-name>
    <servlet-name>AccountController</servlet-name>
    <servlet-class>com.test.controller.AccountController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountController</servlet-name>
    <url-pattern>/AccountController</url-pattern>
  </servlet-mapping>
  <display-name>OpenBaking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AccountInfoDTO</display-name>
    <servlet-name>AccountInfoDTO</servlet-name>
    <servlet-class>com.test.DTO.AccountInfoDTO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountInfoDTO</servlet-name>
    <url-pattern>/AccountInfoDTO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountTransferInfoDTO</display-name>
    <servlet-name>AccountTransferInfoDTO</servlet-name>
    <servlet-class>com.test.DTO.AccountTransferInfoDTO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountTransferInfoDTO</servlet-name>
    <url-pattern>/AccountTransferInfoDTO</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountInfoDAO</display-name>
    <servlet-name>AccountInfoDAO</servlet-name>
    <servlet-class>com.test.repository.AccountInfoDAO</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountInfoDAO</servlet-name>
    <url-pattern>/AccountInfoDAO</url-pattern>
  </servlet-mapping>
</web-app>